@charset "utf-8";

/* pc.css */

/* ファーストビュー */

.first {
    height: 100vh;
    background-image: url('../img/img-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-catch {
    font-size: 500%;
    color: var(--color-base);
}

/* イントロ */

.intro-wrap {
    position: relative;
}

.intro-cards {
    display: flex;
    margin-left: 10%;

    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}

.intro-card-dark, .intro-card-light-1,
.intro-card-light-2 {
    flex:1;
    padding: 5%;
}

.intro-card-dark {
    background: var(--color-main);
    color: var(--color-base);
}

.intro-card-light-1 {
    background-image: url('../img/img-1.jpg');
    background-size: cover;
    background-position: center;
}

.intro-card-light-2 {
    background-image: url('../img/img-1.jpg');
    background-size: cover;
    background-position: center;
}

.intro-card-header {
    display: flex;
    flex-direction: column;
}

.intro-card-subtitle {
    order: -1;
}