@charset "utf-8";

@media screen and (max-width: 767px) {

body { padding-top: 66px; }
.container { padding: 0 4%; }
.section-title { margin-bottom: 8%; }
.hero__inner { padding: 12% 4% 10% 4%; }
.hero__title { line-height: 0.88em; }
.btn { padding: 13px 28px; }
.intro__logo-img { width: 35%; }

}
