@charset "utf-8";

/* sp.css */

@media (max-width: 768px) {
    .first {
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .intro-cards {
        flex-direction: column;
        margin-left: 0;
        position: static;
        transform: none;
    }
}