@charset "utf-8";

@media screen and (max-width: 1024px) {

body { padding-top: 86px; }
.header { padding: 28px 0; }
.header.is-small { padding: 10px 0; }
.header__logo { width: 130px; }
.header__contact { padding: 0 14px; margin-left: 10px; }

.hero__title { font-size: 7rem; }

}


@media screen and (max-width: 768px) {

.pc { display: none !important; }
.sp { display: block !important; }

.header { padding: 18px 0; }
.header.is-small { padding: 8px 0; }
.header__logo { width: 110px; }
.header__nav-list { display: none; }
.header__contact { margin: 0 8px 0 0; padding: 0 14px; }
.burger-trigger { display: flex !important; flex-direction: column; justify-content: space-between; }

.hero { min-height: auto; }
.hero__sub { max-width: 100%; }

.intro { margin: -4% 0 6% 0; padding: 0; }
.intro__boxes { flex-direction: column; }
.intro__box { width: 100%; }
.intro__text-box { padding: 6% 5%; }
.intro__img-box { padding: 7% 5%; }

}
