@charset "utf-8";
/* sp.css */

@media (max-width: 768px) {

    .service-lead {
        font-size: 1.4rem;
        text-align: left;
        margin-bottom: 24px;
    }

    /* ここから */
    .service-main {
        padding-top: 0;
    }
    .service-main__img {
        position: static;
        width: 100%;
    }
    .service-main__panel {
        margin-left: 0;
        padding: 5%;
        min-height: auto;
    }
    .service-stats {
        margin-left: 0;
        width: 100%;
    }
    .service-stats__inner {
        grid-template-columns: repeat(2, 1fr);
    }
    .service-stats__item:nth-child(2){
        border-right: none;
    }
    .service-stats__item:nth-child(3),
    .service-stats__item:nth-child(4) {
        border-top: 1px solid rgba(0,0,0,0.12);
    }
}