<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUR SERVICE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Barlow+Semi+Condensed:wght@400;500;700&family=Noto+Sans+JP:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/import.css">
</head>

<body>
    <header></header>

    <main>
        <section class="first">
            <h1 class="first-catch">キャッチコピー</h1>
        </section>

        <section class="intro-wrap">
            <div class="intro-cards">
                <div class="intro-card-dark">
                    <h2>KISHI</h2>
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </div>
                <div class="intro-card-light-1">
                    <div class="intro-card-header">
                        <h3>KISHI</h3>
                        <p class="intro-card-subtitle">サブタイトル</p>
                    </div>
                    <div class="intro-text">
                        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                </div>
                <div class="intro-card-light-2">
                    <div class="intro-card-header">
                        <h3>KISHI</h3>
                        <p class="intro-card-subtitle">サブタイトル</p>
                    </div>
                    <div class="intro-card-text">
                        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer></footer>
</body>

</html>