@charset "utf-8";
/*---------------------------------------------------------------------
Smart Phone Style (〜480px)
sp.css
-----------------------------------------------------------------------
Copyright 2026 (c)
---------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
/*===========================================================
    section common
===========================================================*/
.section-title {
    font-size: 1.5rem;
}

/*===========================================================
    hero
===========================================================*/
.hero-title {
    font-size: 1.9rem;
}
.hero-btns {
    flex-direction: column;
    align-items: center;
}

/*===========================================================
    service
===========================================================*/
.card-grid {
    grid-template-columns: 1fr;
}

/*===========================================================
    works
===========================================================*/
.works-grid {
    grid-template-columns: repeat(2, 1fr);
}

/*===========================================================
    contact
===========================================================*/

/*===========================================================
    footer
===========================================================*/
.footer-nav ul {
    gap: 1em;
}

}
